#root {
  background: #ccc;
  height: 100%;
}

.App header {
  background: #333;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
  padding-right: 8px;
  text-align: right;
  width: 100%;
}
